<section class="content-wrap row ng-scope">
    <section class="rmenu col-md-12 np">

        <!--Component Header Section-->
        <article class="rmenu-header-wrap">
            <div class="rmenu-header">
                <div class="comp-details fl">
                    <h3 class="m0">Alert Box</h3>

                    <p>This is quick overview of some features.</p></div>

                <div class="comp-menu fr">
                    <ul>
                        <li>Overview</li>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>JS</li>
                    </ul>
                </div>
            </div>
        </article>

    </section>
</section>