<section class="content-wrap row ng-scope">
    <section class="rmenu col-md-12 np">

        <!--Component Header Section-->
        <article class="rmenu-header-wrap">
            <div class="rmenu-header">
                <div class="comp-details fl">
                    <h3 class="m0">Browser Confirm Box</h3>

                    <p>Here's a quick overview of the main features of Browser Confirm Modal Box component.</p>
                </div>
            </div>
        </article>


        <section class="article-des">

            <!--Component Overview Section-->
            <article class="overview-wrap">
                <div class="overview">
                    <div class="overview-head">
                        <h3 class="m0">About Browser Confirm Box</h3>
                    </div>
                    <div class="overview-content">
                        <p>This is similar to the Confirmation box, except you can't change the default  functionalities
                            like can't change the button caption, It's alignment at all and you can't change it's title
                            and content.
                        </p>

                        <pre id="htmlOutput" class="html prettyprint">The <span class="typ">ZRComponent</span><span
                                class="pun">.</span><span class="pln">browserConfirmDialog</span><span
                                class="pun">()</span> method displays a default confirm box that is similar to browser confirm box.</pre>

                        <p>You can't customize this confirmation modal box.     <span class="label label-danger try" data-callback="ZRComponent.browserConfirmDialog();">Try It</span></p>

                    </div>
                </div>
            </article>
            <!--Component Overview Section End-->
        </section>

    </section>
</section>