<section class="content-wrap row ng-scope">

    <section class="lmenu">

        <!--Modal Box Menu-->
        <section class="menu-header cp fa fa-exclamation-triangle mactive">
            <strong>Modal Box</strong>
            <span class=""><i class="fa fa-sort-down"></i></span>
        </section>

        <section class="menu-children">
            <ul>
                <li><a href="#/modal-box/confirm">Confirm Box</a></li>
                <li><a href="javascript:void(0);">Browser Confirm Confirm</a></li>
                <li><a href="javascript:void(0);">Alert Box</a></li>
                <li><a href="javascript:void(0);">Browser Alert Confirm</a></li>
                <li><a href="javascript:void(0);">Simple Modal Box</a></li>
            </ul>
        </section>
        <!--Modal Box Menu End-->

        <!--Alert Box Menu-->
        <section class="menu-header cp fa fa-exclamation-circle">
            <strong>Alert Box</strong>
            <span class=""><i class="fa fa-sort-down"></i></span>
        </section>

        <section class="menu-children dnone">
            <ul>
                <li><a href="javascript:void(0);">Strip Alert</a></li>
                <li><a href="javascript:void(0);">Box Alert</a></li>
                <li><a href="javascript:void(0);">Modal Alert</a></li>
            </ul>
        </section>
        <!--Alert Box Menu End-->

    </section>
</section>