<section class="content-wrap row ng-scope">
    <section class="rmenu col-md-12 np">

        <!--Component Header Section-->
        <article class="rmenu-header-wrap">
            <div class="rmenu-header">
                <div class="comp-details fl">
                    <h3 class="m0">Modal Box</h3>

                    <p>This is quick overview of some features.</p></div>
            </div>
        </article>

    </section>

    <section class="article-des">
        <div class="gallery-wrap">
            <div class="bg-trans wid400"></div>
            <h4>Sample Modal</h4>
            <img class="modal-big" src="images/modal-box/Madal-box_03.jpg" alt="Sample Modal"/>
        </div>
        <div class="gallery-wrap">
            <div class="bg-trans wid400"></div>
            <h4>Confirm Box.1</h4>
            <img class="modal-big" src="images/modal-box/Madal-box_05.jpg" alt="Sample Modal"/>
        </div>
        <div class="gallery-wrap">
            <div class="bg-trans wid400"></div>
            <h4>Confirm Box.2</h4>
            <img class="modal-big" src="images/modal-box/Madal-box_09.jpg" alt="Sample Modal"/>
        </div>
        <div class="gallery-wrap">
            <div class="bg-trans wid400"></div>
            <h4>Confirm Box.3</h4>
            <img class="modal-big" src="images/modal-box/Madal-box_13.jpg" alt="Sample Modal"/>
        </div>
        <div class="gallery-wrap">
            <div class="bg-trans wid400"></div>
            <h4>Confirm Box.4</h4>
            <img class="modal-big" src="images/modal-box/Madal-box_15.jpg" alt="Sample Modal"/>
        </div>
    </section>
</section>