<section class="content-wrap row ng-scope">
    <section class="rmenu col-md-12 np">

        <!--Component Header Section-->
        <article class="rmenu-header-wrap">
            <div class="rmenu-header">
                <div class="comp-details fl">
                    <h3 class="m0">ZRComponent JS</h3>

                    <p>Here's a quick overview of the main features of ZRComponent.</p></div>

                <div class="comp-menu fr">
                    <ul>
                        <li>Overview</li>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>JS</li>
                    </ul>
                </div>
            </div>
        </article>


        <section class="article-des">

            <!--Component Overview Section-->
            <article class="overview-wrap">
                <div class="overview">
                    <div class="overview-head">
                        <h3 class="m0">About ZRComponent JS</h3>
                    </div>
                    <div class="overview-content">
                        <p>The objective of the ZRComponent JS is to reuse the All the Modal components any where in the  any product.</p>
                        <p>Modal Components.</p>
                        <p>Alert Components.</p>
                        <p>You can customize these Components by providing the values as JS object.</p>
                    </div>
                </div>
            </article>
            <!--Component Overview Section End-->

            <!--Component Html Section-->
            <article class="overview-wrap mt25">
                <div class="overview">
                    <div class="overview-head">
                        <h3 class="m0">How to use</h3>
                    </div>
                    <div class="overview-content">
                        <p>The objective of the ZRComponent JS is to reuse the All the Modal components any where in the  any product.</p>
                        <p>Modal Components.</p>
                        <p>Alert Components.</p>
                        <p>You can customize these Components by providing the values as JS object.</p>
                    </div>
                </div>
            </article>
            <!--Component Overview Section End-->

            <!--Component Html Section-->
            <article class="overview-wrap mt25">
                <div class="overview">
                    <div class="overview-head">
                        <h3 class="m0">Dependencies</h3>
                    </div>
                    <div class="overview-content">
                        <p>If you want to use ZRComponent, Make sure you have added the following dependencies JS and CSS files.</p>
                        <h4 class="mt10">CSS Files</h4>
                        <ul class="dep-list">
                            <li>opensans.css</li>
                            <li>ZRCommonLibrary.css</li>
                            <li>ZRComponent.css</li>
                        </ul>
                        <h4 class="mt10">Javascript Files</h4>
                        <ul class="dep-list">
                            <li>Jquery.js</li>
                            <li>handlebar.js</li>
                            <li>I18n.js</li>
                            <li>Utils.js</li>
                            <li>crm_ajax.js</li>
                            <li>ZRCommonUtil.js</li>
                        </ul>
                    </div>
                </div>
            </article>
            <!--Component Overview Section End-->

        </section>
    </section>
</section>