* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f5f5f5;
    height: 800px;
}

.np {
    padding: 0 !important;
}

.p0 {
    padding: 0;
}

.pl10 {
    padding-left: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pl15 {
    padding-left: 15px;
}

.nm {
    margin: 0 !important;
}

.m0 {
    margin: 0;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mt150 {
    margin-top: 150px;
}

.mt200 {
    margin-top: 200px;
}

.mb150 {
    margin-bottom: 150px;
}

.mb200 {
    margin-bottom: 200px;
}

.zi1 {
    z-index: 1;
}

.zi5 {
    z-index: 5;
}

.cp {
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.dnone {
    display: none;
}

.dblock {
    display: block;
}

.highCOM {
    color: green;
}

.highELE {
    color: brown;
}

.highATT {
    color: crimson;
}

.highVAL {
    color: mediumblue;
}

.highGLB {
    color: #CC9900;
}

.highLT, .highGT {
    color: blue;
}

.main-wrap {

}

.fg-top-header {
    height: 60px;
    background: #399bff;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    background: url("../../images/logo-recruit.png") no-repeat;
    cursor: pointer;
    height: 27px;
    margin-left: 0;
    width: 150px;
    margin: 15px 50px;
}

.lmenu {
    color: #b7babc;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 250px;
    background: #3d464d;
    border-right: 1px solid #464f55;
    z-index: 2;
}

.menu-header {
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

.menu-header:hover, .mactive {
    background: #363E45;
}

.menu-header strong {
    padding-left: 5px;
    font-size: 14px;
}

.menu-header span i {
    float: right;
}

.menu-children {
    padding-left: 17px;
}

.menu-children ul {

}

.menu-children ul li {
    padding: 10px 0;
    padding-left: 28px;
}

.menu-children ul li a {
    color: #b7babc;
    text-decoration: none;
}

.rmenu {
    position: relative;
}

.rmenu-header-wrap {
    background: #FFF;
    margin-left: 250px;
    height: 100px;
    box-shadow: 1px 2px 10px 4px #adadad;
    position: fixed;
    width: 82%;
    top: 60px;
    z-index: 1;
}

.rmenu-header {
    padding: 25px 20px;
}

.rmenu-header p {
    padding-top: 15px;
    color: #adadad;
}

.comp-menu {
    border: 1px solid #eaedef;
    border-radius: 6px;
}

.comp-menu ul {
    list-style: none;
    margin: 0;
}

.comp-menu ul li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border-right: 1px solid #f5f5f5;
}

.comp-menu ul li:hover {
    background: #f5f5f5;
    border-radius: 6px;
}

.rmenu-overview-wrap {
    background: #FFF;
    margin-left: 250px;
}

.article-des {
    margin-top: 160px;
    margin-left: 250px;
    padding: 25px 20px;
}

.overview {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.overview-head {
    background: #399bff;
    padding-left: 10px;
    color: #FFF;
}

.overview-head h3 {
    height: 50px;
    line-height: 50px;
}

.overview-content {
    background: #FFF;
    padding: 10px;
    color: #8a8a8a;
    font-weight: 400;
}

.overview-content h4 {
    color: #399bff;
    margin: 15px 0;
}

ul.dep-list {
    list-style: circle !important;
}

pre {
    padding: 0;
    color: #8a8a8a;
    margin-bottom: 10px !important;
}

.attrib > .label {
    font-size: 100%;
}

.attrib {
    margin-top: 20px;
}

.gallery-wrap {
    position: relative;
    float: left;
    margin-right: 25px;
    margin-bottom: 35px;
    cursor: pointer;
    overflow: hidden;
}

.gallery-wrap h4 {
    position: absolute;
    display: none;
    color: #399bff;
}

.bg-trans {
    background: #c7ecff;
    height: 364px;
    position: absolute;
    width: 400px;
    opacity: .8;
    top: -400px;
}

.wid400 {
    width: 400px;
}

.modal-big {
    width: 400px;
    cursor: pointer;
}